nav
  .header-logo-menu
    #nav-drawer
      input#nav-input.nav-unshown(type="checkbox")
      label#nav-open(for="nav-input")
        span
      label#nav-close.nav-unshown(for="nav-input")
      #nav-content ここに中身を入れる
    .logo-erea admin