nav
  .header-logo-menu
    #nav-drawer
      input#nav-input.nav-unshown(type="checkbox")
      label#nav-open(for="nav-input")
        span
      label#nav-close.nav-unshown(for="nav-input")
      #nav-content
        ul
          li
            a(href='/user/home') ホーム
          li
            a(href='/user/create_qr') 出欠登録
          li
            a(href='/user/delay') 遅刻報告
          li
            a(href='/user/absence') 欠席報告
    .logo-erea user
