extends ../layout

block content
  form.admin_signin
    h1 Admin Signin
    input(type='email', placeholder='Email', required)
    input(type='password', placeholder='Password', required)
    button Signin
