extends ../layout

block content
  form.admin_signin(method='POST', action='/admin/signin')
    p.mb-3.h2.signin-title Admin Signin
    input(type='email', placeholder='Email', name='email', required)
    input(type='password', placeholder='Password', name='password', required)
    button(type='submit') Signin
