extends ../layout

block content
  form.user_signup(method='POST', action='/user/new')
    h1 User Signup
    input(type='text', placeholder='Username', name='name', required)
    input(type='email', placeholder='Email', name='email', required)
    input(type='password', placeholder='Password', name='password', required)
    button(type='submit') Register