extends ../layout

block content
  // Page Content
  #header-area
    include ../utils/user_header.pug

    .container.col-8.mt-5.text-muted
      p.h3.mb-5.text-center 出欠状況
        button.btn(onclick='calemdarInfoModal()')
          img.info_icon.mb-2(src="/image/info.png")
      #calendar
      .btn-area.mt-5
        button#prev.mr-4.btn.btn-outline-secondary(type='button') 前の月
        button#next.ml-4.btn.btn-outline-secondary(type='button') 次の月

  script(src='/javascript/calendar.js')
