extends ../layout

block content
  form.user_create
    h1 User Create
    input(type='text', placeholder='Username')
    input(type='email', placeholder='Email')
    input(type='password', placeholder='Password')
    button Register