doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/sweetalert2/sweetalert2.min.css')
  body
    block content
    script(src='/javascript/qrcode_reader.js')
    script(src='/sweetalert2/sweetalert2.min.js')
    script(src='/javascript/sweetalert.js')
    script(src='/javascript/common.js')
    script(src='https://cdn.jsdelivr.net/npm/jsqr@1.1.1/dist/jsQR.min.js', integrity='sha384-i4Tuh5Z0ns/3M0289mSougur8irvedWPBlwOcJ7ob5AK/rvN5tjkwzu7P1k1dThG', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')

