extends ../layout

block content
  form.reader_signin(method='POST', action='/reader/signin')
    h1 Reader Signin
    input(type='email', placeholder='Email', name='email', required)
    input(type='password', placeholder='Password', name='password', required)
    button(type='submit') Signin